openapi: 3.2.0
info:
  title: Amazon DMS AWS Database Migration Service Replication Instances API
  description: AWS Database Migration Service (DMS) helps you migrate databases to AWS quickly and securely. The API provides operations for creating and managing replication instances, endpoints, and replication tasks for database migrations.
  version: '2016-01-01'
  contact:
    name: Amazon Web Services
    url: https://aws.amazon.com/dms/
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
- url: https://dms.amazonaws.com
  description: AWS DMS API endpoint
tags:
- name: Replication Instances
  description: Operations for managing DMS replication instances
paths:
  /:
    post:
      operationId: CreateReplicationInstance
      summary: Amazon DMS Create a replication instance
      description: Creates the replication instance using the specified parameters. A replication instance is used to run replication tasks.
      requestBody:
        required: true
        content:
          application/x-amz-json-1.1:
            schema:
              $ref: '#/components/schemas/CreateReplicationInstanceInput'
      responses:
        '200':
          description: Replication instance created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReplicationInstance'
        '400':
          description: Bad request
      tags:
      - Replication Instances
  /describeReplicationInstances:
    post:
      operationId: DescribeReplicationInstances
      summary: Amazon DMS Describe replication instances
      description: Returns information about replication instances.
      requestBody:
        required: false
        content:
          application/x-amz-json-1.1:
            schema:
              type: object
              properties:
                Filters:
                  type: array
                  items:
                    $ref: '#/components/schemas/Filter'
                MaxRecords:
                  type: integer
                Marker:
                  type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  ReplicationInstances:
                    type: array
                    items:
                      $ref: '#/components/schemas/ReplicationInstance'
                  Marker:
                    type: string
      tags:
      - Replication Instances
components:
  schemas:
    CreateReplicationInstanceInput:
      type: object
      required:
      - ReplicationInstanceIdentifier
      - ReplicationInstanceClass
      properties:
        ReplicationInstanceIdentifier:
          type: string
          description: The replication instance identifier.
        ReplicationInstanceClass:
          type: string
          description: The compute and memory capacity of the replication instance.
        AllocatedStorage:
          type: integer
          description: The amount of storage (in gigabytes) to allocate.
        VpcSecurityGroupIds:
          type: array
          items:
            type: string
        AvailabilityZone:
          type: string
        ReplicationSubnetGroupIdentifier:
          type: string
        MultiAZ:
          type: boolean
        EngineVersion:
          type: string
        PubliclyAccessible:
          type: boolean
    ReplicationInstance:
      type: object
      properties:
        ReplicationInstanceIdentifier:
          type: string
        ReplicationInstanceClass:
          type: string
        ReplicationInstanceStatus:
          type: string
        AllocatedStorage:
          type: integer
        ReplicationInstanceArn:
          type: string
        ReplicationInstancePublicIpAddress:
          type: string
        ReplicationInstancePrivateIpAddress:
          type: string
        AvailabilityZone:
          type: string
        MultiAZ:
          type: boolean
        EngineVersion:
          type: string
    Filter:
      type: object
      properties:
        Name:
          type: string
        Values:
          type: array
          items:
            type: string
