openapi: 3.2.0
info:
  title: Amazon DMS AWS Database Migration Service Replication Tasks API
  description: AWS Database Migration Service (DMS) helps you migrate databases to AWS quickly and securely. The API provides operations for creating and managing replication instances, endpoints, and replication tasks for database migrations.
  version: '2016-01-01'
  contact:
    name: Amazon Web Services
    url: https://aws.amazon.com/dms/
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
- url: https://dms.amazonaws.com
  description: AWS DMS API endpoint
tags:
- name: Replication Tasks
  description: Operations for managing replication tasks
paths:
  /createReplicationTask:
    post:
      operationId: CreateReplicationTask
      summary: Amazon DMS Create a replication task
      description: Creates a replication task using the specified parameters. A replication task moves data from a source endpoint to a target endpoint.
      requestBody:
        required: true
        content:
          application/x-amz-json-1.1:
            schema:
              $ref: '#/components/schemas/CreateReplicationTaskInput'
      responses:
        '200':
          description: Replication task created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReplicationTask'
        '400':
          description: Bad request
      tags:
      - Replication Tasks
  /startReplicationTask:
    post:
      operationId: StartReplicationTask
      summary: Amazon DMS Start a replication task
      description: Starts the replication task.
      requestBody:
        required: true
        content:
          application/x-amz-json-1.1:
            schema:
              type: object
              required:
              - ReplicationTaskArn
              - StartReplicationTaskType
              properties:
                ReplicationTaskArn:
                  type: string
                StartReplicationTaskType:
                  type: string
                  enum:
                  - start-replication
                  - resume-processing
                  - reload-target
                CdcStartTime:
                  type: string
                  format: date-time
      responses:
        '200':
          description: Replication task started
      tags:
      - Replication Tasks
components:
  schemas:
    CreateReplicationTaskInput:
      type: object
      required:
      - ReplicationTaskIdentifier
      - SourceEndpointArn
      - TargetEndpointArn
      - ReplicationInstanceArn
      - MigrationType
      - TableMappings
      properties:
        ReplicationTaskIdentifier:
          type: string
        SourceEndpointArn:
          type: string
        TargetEndpointArn:
          type: string
        ReplicationInstanceArn:
          type: string
        MigrationType:
          type: string
          enum:
          - full-load
          - cdc
          - full-load-and-cdc
        TableMappings:
          type: string
          description: JSON table mappings for the replication task.
    ReplicationTask:
      type: object
      properties:
        ReplicationTaskIdentifier:
          type: string
        SourceEndpointArn:
          type: string
        TargetEndpointArn:
          type: string
        ReplicationInstanceArn:
          type: string
        MigrationType:
          type: string
        Status:
          type: string
        ReplicationTaskArn:
          type: string
        ReplicationTaskStats:
          type: object
          properties:
            FullLoadProgressPercent:
              type: integer
            ElapsedTimeMillis:
              type: integer
            TablesLoaded:
              type: integer
            TablesLoading:
              type: integer
            TablesQueued:
              type: integer
            TablesErrored:
              type: integer
