openapi: 3.2.0
info:
  title: Amazon DMS AWS Database Migration Service Endpoints API
  description: AWS Database Migration Service (DMS) helps you migrate databases to AWS quickly and securely. The API provides operations for creating and managing replication instances, endpoints, and replication tasks for database migrations.
  version: '2016-01-01'
  contact:
    name: Amazon Web Services
    url: https://aws.amazon.com/dms/
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
- url: https://dms.amazonaws.com
  description: AWS DMS API endpoint
tags:
- name: Endpoints
  description: Operations for managing source and target endpoints
paths:
  /createEndpoint:
    post:
      operationId: CreateEndpoint
      summary: Amazon DMS Create an endpoint
      description: Creates an endpoint using the provided settings, representing a source or target database for migration.
      requestBody:
        required: true
        content:
          application/x-amz-json-1.1:
            schema:
              $ref: '#/components/schemas/CreateEndpointInput'
      responses:
        '200':
          description: Endpoint created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Endpoint'
        '400':
          description: Bad request
      tags:
      - Endpoints
  /describeEndpoints:
    post:
      operationId: DescribeEndpoints
      summary: Amazon DMS Describe endpoints
      description: Returns information about the endpoints for your account.
      requestBody:
        required: false
        content:
          application/x-amz-json-1.1:
            schema:
              type: object
              properties:
                Filters:
                  type: array
                  items:
                    $ref: '#/components/schemas/Filter'
                MaxRecords:
                  type: integer
                Marker:
                  type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Endpoints:
                    type: array
                    items:
                      $ref: '#/components/schemas/Endpoint'
                  Marker:
                    type: string
      tags:
      - Endpoints
components:
  schemas:
    CreateEndpointInput:
      type: object
      required:
      - EndpointIdentifier
      - EndpointType
      - EngineName
      properties:
        EndpointIdentifier:
          type: string
        EndpointType:
          type: string
          enum:
          - source
          - target
        EngineName:
          type: string
          description: The type of engine for the endpoint.
        ServerName:
          type: string
        Port:
          type: integer
        DatabaseName:
          type: string
        Username:
          type: string
        Password:
          type: string
        SslMode:
          type: string
          enum:
          - none
          - require
          - verify-ca
          - verify-full
    Endpoint:
      type: object
      properties:
        EndpointIdentifier:
          type: string
        EndpointType:
          type: string
        EngineName:
          type: string
        EngineDisplayName:
          type: string
        ServerName:
          type: string
        Port:
          type: integer
        DatabaseName:
          type: string
        Status:
          type: string
        EndpointArn:
          type: string
        SslMode:
          type: string
    Filter:
      type: object
      properties:
        Name:
          type: string
        Values:
          type: array
          items:
            type: string
